.title {
    font-weight: 700;
    font-size: 20px;
    color: #11142d;
}

.text {
    font-weight: 400;
    font-size: 14px;
    color: var(--primary);
    margin-bottom: 16px;
}

.innerflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgs {
    cursor: pointer;

}

.block {
    cursor: pointer;
}